{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>Weather Forecast</title>
</head>
<body>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Enter City" name="city"/>
            <button type="submit">Search Weather</button>
        </form>
        <h1>{{ city }}</h1>
        <h1>{{ day }}</h1>
        <h1>{{ description }}</h1>
        <h1>Temperature: {{ temp }}&deg;F</h1>
        <h1>Humidity: {{ humidity }}%</h1>
        <img src='https://openweathermap.org/img/w/{{ icon }}.png' width="100px">
    </div>
</body>
</html>